.post-container {
  width: 100%;
  background-color: white;
  border-radius: 8px;

  box-shadow: var(--elevation-lined);
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.post-top-section {
  font-family: NL;
  display: flex;
  justify-content: space-between;
}
.post-author {
  display: flex;
}
.author-avatar {
  width: 48px;
  height: 48px;
  border-radius: 100%;
}
.margin-wrapper {
  padding: 15px;
}
.author-info {
  margin-left: 5px;
}
.post-media {
  width: 100%;

  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: var(--elevation-lined);
}
.post-body-section {
  margin-top: 10px;
}
