:root {
  --primary-text: rgba(0, 0, 0, 0.9);
  --secondary-text: #777b80;
  --text-tag: rgba(0, 0, 0, 0.6);
}

body {
  margin: 0;
  padding: 0;
}

body {
  font-family: SegoeNormal;
  font-weight: 400;
}
